// Nodemailer User name and pass 
USER=enter_email_here
PASS=enter_email_pass_from_google_app_password

MONGO_URL=your_mongo_cluster_url
PORT=3000
JWT_SECRET=any_random_strings
FRONTEND_URL=http://localhost:5173